<form class="cli-form" #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
    <input type="hidden" name="ClienteID" #ClienteID="ngModel" [(ngModel)]="clienteService.clienteSelecionado.ClienteID">
      
    <div class="form-group">
          <label for="Nome">Nome completo</label>
          <input class="form-control" 
            name="Nome" #Nome="ngModel" 
            [(ngModel)]="clienteService.clienteSelecionado.Nome" 
            style="text-transform:uppercase"
            minlength="3"
            maxlength="50"
            required> 
          <div class="validation-error" *ngIf="Nome.invalid && Nome.touched">Informe seu nome completo.</div>
      </div>

      <div class="form-row">

          <div class="form-group col-md-4">
            <label for="Cpf">Cpf</label>
            <input class="form-control" name="Cpf" 
            #Cpf="ngModel"      
            [(ngModel)]="clienteService.clienteSelecionado.Cpf" 
            mask="999.999.999-99"
            required>
          </div>

          <div class="form-group col-md-4">
            <label for="Rg">Rg</label>
            <input class="form-control"
            name="Rg" 
            #Rg="ngModel"
            mask="99.999.999-9"
            [(ngModel)]="clienteService.clienteSelecionado.Rg">
          </div>

          <div class="form-group col-md-4">
              <label for="Telefone">Telefone</label>
              <input type="text" class="form-control" 
              name="Telefone"
              #Telefone="ngModel" 
              maxlength="25"
              [textMask]="mascara()"
              [(ngModel)]="clienteService.clienteSelecionado.Telefone" required>
              <div class="validation-error" *ngIf="Telefone.invalid && Telefone.touched">Informe o telefone.</div>
          </div>

      </div> 

      <div class="form-row">
          
        <div class="form-group col-md-4">
              <label for="Estado">Estado</label>
              <input class="form-control" 
              name="Estado"
              #Estado="ngModel" 
              mask="AA"
              style="text-transform:uppercase"
              [(ngModel)]="clienteService.clienteSelecionado.Estado">
              <div class="validation-error" *ngIf="Estado.invalid && Estado.touched">Informe o Estado. ex: SC</div>
          </div>

          <div class="form-group col-md-4">
            <label for="DataNascimento">Data de nascimento</label>
            <input class="form-control" type="date"
            name="DataNascimento" 
            #DataNascimento="ngModel" [(ngModel)]="clienteService.clienteSelecionado.DataNascimento" 
            required> 
            <div class="validation-error" *ngIf="DataNascimento.invalid && DataNascimento.touched">Informe a data de nascimento.</div>
          </div>

          <div class="form-group col-md-4">
            <label for="DataCadastro">Data de cadastro</label>
            <input class="form-control" 
            name="DataCadastro" #DataCadastro="ngModel" 
            [(ngModel)]="clienteService.clienteSelecionado.DataCadastro" 
            placeholder="Preenchimento automático" disabled>
          </div>

      </div>
      
      <!--Botoes do form-->
      <div class="form-row">
            <div class="form-group col-md-4">
                    <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(clienteForm)"><i class="fa fa-repeat"></i> Limpar</button>
                  </div>
          <div class="form-group col-md-8">
              <button [disabled]="!clienteForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i> Salvar cadastro</button>
          </div>        
      </div>
</form>

